.main-container {
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 0%;
}

@media (max-width: 650px) {
  .main-container {
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 0%;
  }
}

.main-text-title {
  font-family: 'Dongle-Regular-Local';
  font-size: 60px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.2px;
  line-height: 0.85;
}

.main-text {
  font-family: 'Dongle-Regular-Local';
  font-size: 32px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.2px;
  line-height: 0.85;
}