header {
  padding-left: 25%;
  padding-right: 25%;
  display: flex; /* allows auto-layout with align-items */
  align-items: center; /* centers elements vertically */
  justify-content: space-between;
}

@media (max-width: 650px) {
  header {
    padding-left: 4%;
    padding-right: 4%;
    display: flex; /* allows auto-layout with align-items */
    align-items: center; /* centers elements vertically */
    justify-content: space-between;
  }
}

.su-logo-name-container {
  display: flex;
  align-items: center;
}

.su-name {
  text-decoration: none;

  padding-left: 8px;
  padding-top: 4px;

  font-family: 'Figtree-Local';
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.15px;
}

.menu-items-container {
  padding-top: 8px;

  display: flex; /* makes menu items layout horizontally */
}

.menu-item {
  padding: 8px;

  list-style: none;
}

.menu-item-link{
  text-decoration: none;

  font-family: 'Figtree-Local';
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 0.15px;

  transition: color 0.2s;
}

.menu-item-link:hover {
  color: #00000083;
}

.dropdown-menu-item {
  display: flex;
  text-decoration: none;

  padding-left: 12px;

  font-family: 'Figtree-Local';
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.15px;

  transition: all 0.2s ease;
}

.dropdown-menu-item:hover {
  color: #00000083;
}

.dropdown-menu {
  list-style: none;
  pointer-events: none;

  margin-top: 12px;

  position: absolute;
  top: 50px;
  margin-left: -60px;

  background-color: #ffffff;
  border-radius: 12px;
  min-width: 200px;
  padding: 12px 0;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
 
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}

@media (max-width: 650px) {
  .dropdown-menu {
    margin-left: -120px;
  }
}

.menu-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}
