<header>
  <div class="su-logo-name-container">
    <img class="su-logo"  srcset="su-logo-3.0-oval-64x64.png 64w, su-logo-3.0-oval-128x128.png 128w, su-logo-3.0-oval-192x192.png 192w," alt=""/>
    <a class="su-name" href="/">Soft Umbrella</a>
  </div>
  
  <nav class="menu-items-container">
    <li class="menu-item">
      <a class="menu-item-link" href="/">Products</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-menu-item" href="https://orcal.ink">OrcaLink</a></li>
      </ul>
    </li>
    <!-- <li class="menu-item">
      <a class="menu-item-link" href="/company">Company</a>
    </li>
    <li class="menu-item">
      <a class="menu-item-link" href="/contact">Contact</a>
    </li> -->
  </nav>
</header>